{% extends 'admin/layout.html.twig' %}

{% block body %}
    <h1>Edit conversation</h1>

    {{ include('admin/conversation/_form.html.twig', {
        form: edit_form,
        button_label: 'Enregistrer',
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}